/* Colors */
$red: #E78778;
$red-light: #FFF3F1;
$beige: #E8C2B6;
$black: #273053;
$black-light: #E6E6E6;
$black-dark: #161927;
$gray: #A9ACB8;
$white: #ffffff;
$green: #1BC796;
$yellow: #FEB900;

$primary: $red;
$secondary: $black;
$success: $green;
$warning: $yellow;
$border: $black-light;

/* Sizes */
$xs: 0;
$sm: 480px;
$md: 640px;
$lg: 992px;
$xl: 1300px