@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import 'variables.scss';
@import 'overloads/bootstrap.scss';

/* Display classes */
.d-md-grid {
  @media screen and (min-width: $md) {
    display: grid;
  }
}
.height-full {
  height: 100%;
}
.width-full {
  width: 100%;
}
.mt-8 {
  margin-top: 3rem !important;
}
.mb-8 {
  margin-bottom: 3rem !important;
}
.my-8 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.ml-8 {
  margin-left: 3rem !important;
}
.mr-8 {
  margin-right: 3rem !important;
}
.mx-8 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

/* Text classes */
.text-gray {
  color: $gray;
}
.text-primary {
  color: $primary !important;
}

/* Other classes */
.note, .spoil {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 14px;
}
.note {
  background: $beige;
}
.spoil {
  background: $primary;
}

/* Balises */
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 52px;
  color: $white;
  line-height: 54px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: $white;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: $black;
  line-height: 68px;
  margin-bottom: 24px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: $black;
  margin-bottom: 24px;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: $black;
}

p, li {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $black;
}

p {
  line-height: 28px;
  margin-bottom: 24px;
}

ul {
  margin-bottom: 24px;
}

b {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

@import 'components/navbar.scss';
@import 'components/search-course.scss';
@import 'components/hero.scss';
@import 'components/intro.scss';
@import 'components/content.scss';
@import 'components/course-card.scss';
@import 'components/next-courses.scss';
@import 'components/code-highlighter.scss';
@import 'components/footer.scss';