@import 'variables.scss';
@import 'overloads/bootstrap.scss';


.height-full {
  height: 100%;
}

h1 {
  font-family: Raleway-Bold;
  font-size: 52px;
  color: $white;
  line-height: 54px;
}

h2 {
  font-family: Raleway-Medium;
  font-size: 20px;
  color: $white;
}

h3 {
  font-family: Raleway-SemiBold;
  font-size: 52px;
  color: $black;
  line-height: 68px;
  margin-bottom: 24px;
}

h4 {
  font-family: Raleway-ExtraBold;
  font-size: 28px;
  color: $black;
  margin-bottom: 24px;
}

h5 {
  font-family: Raleway-ExtraBold;
  font-size: 20px;
  color: $black;
}

p, li {
  font-family: Raleway-Regular;
  font-size: 20px;
  color: $black;
}

p {
  line-height: 28px;
  margin-bottom: 24px;
}

ul {
  margin-bottom: 24px;
}

b {
  font-family: Raleway-SemiBold;
}

.my-editor {
  background: #2d2d2d;
  color: #ccc;

  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
}
.prism-editor__textarea:focus {
  outline: none;
}
.prism-editor__editor {
  color: $white;
}

@import 'components/navbar.scss';
@import 'components/search-course.scss';
@import 'components/hero.scss';
@import 'components/intro.scss';
@import 'components/content.scss';
@import 'components/course-card.scss';
@import 'components/next-courses.scss';
@import 'components/code-highlighter.scss';