.comp--navbar {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 56px;
  background:  rgba(255,255,255, 1);
  border-bottom: 1px solid $border;
  z-index: 9999;
  transition: 0.2s background ease-out;

  @media screen and (max-width: $md) {
    padding: 0 24px;
  }

  .comp--search-course {
    margin-top: -120px;
    transition: 0.3s margin ease-out;

    &.show {
      margin-top: 0px;
    }
  }

  .btn-show-all-courses {
    background: none;
    border: none;
  }

  &.home {
    background: rgba(255,255,255, 0);
    border-bottom: none;
  }

  .mobile-cursus-menu {
    position: absolute;
    top:0;
    left: -100vw;
    transition: 0.3s all ease-out;
    width: 100vw;
    height: 100vh;
    background: rgba(255 ,255, 255, 0.9);
    padding: 32px 24px;
    
    &.show {
      left: 0vw;
    }

    .comp--search-course {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16);
    }
  }
}