.comp--next-courses {
  height: auto;
  max-height: 80vh;
  width: 100%;
  background: url(~assets/img/next-courses-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 64px 0 32px 0;
  overflow: hidden;

  h3 {
    color: $white;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    line-height: 0;
    padding: 0;

    &:hover {
      background: $white;
    }
    &:focus {
      background: $white;
    }
    &:active {
      background: $white;
    }
  }

  .swiper-area {
    width: 400px;
  }

  .swiper-container {
    overflow: visible;
  }

  .swiper-slide-active {
    .comp--course-card {
      @extend .active;
    }
  }
}